body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#eee;
  height: 1px;
}

#email-grid {
  width: 600px;
  min-height: 150px;
  margin: 10% auto 0;
  background: #fff;
}

#email-builder {
  height: 100%;
  background:#f5f5f5;
}

#settings-container {
  height: 100%;
  background:#f5f5f5;
  border-right: 1px solid lightgrey;
}

.appearance, .content {
  width: 50%;
  text-align: center;
}

.block {
  width: 33%;
  margin: 14px;
  height: 100px;
  display: flex;
  flex: 1 0 20%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #eee;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.block.image.contained {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  background: #eee;
}

.block.text.contained {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
}

.block.text.uncontained {
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.block.spacer.uncontained {
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.btn-link {
  color: #555;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none !important;
}

.card {
  border-bottom: 1px solid #ddd;
}

.card-body {
  border-top: 1px solid #ddd;
}

.card-header {
  height: 44px;
  cursor: pointer;
  background: #fff;
}

.col-100, .col-50-50, .col-33, .col-25, .col-33-66, .col-66-33 {
  height: 48px;
  width: 90%;
  padding: 8px;
  margin: 12px auto;
  background: #fff;
  display: flex;
  border: 1px solid #eee;
  border-radius: 8px;
  justify-content: space-between;
}

.col-100:hover, .col-50-50:hover, .col-33:hover, .col-25:hover, .col-33-66:hover, .col-66-33:hover {

}

.col-100-item {
  width: 100%;
  height: 100%;
  background: aliceblue;
  border: 1px dashed skyblue;
}

.col-66-item {
  width: 65%;
  height: 100%;
  display: inline-block;
  background: aliceblue;
  border: 1px dashed skyblue;
}

.col-50-item {
  width: 49%;
  height: 100%;
  display: inline-block;
  background: aliceblue;
  border: 1px dashed skyblue;
}

.col-33-item {
  width: 32%;
  height: 100%;
  display: inline-block;
  background: aliceblue;
  border: 1px dashed skyblue;
}

.col-25-item {
  width: 23.5%;
  height: 100%;
  display: inline-block;
  background: aliceblue;
  border: 1px dashed skyblue;
}

.empty-structure-block {
  border: 0;
  width: 100%;
  height: 100px;
}

.empty-structure-block > div {
  display: flex;
  color: skyblue;
  align-items: center;
  justify-content: center;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.mb-0 {
  margin: 0;
  line-height: 44px;
}

.nav-tabs>li>a {
  color: #999;
  margin-right: 0;
}

.no-pad {
  padding: 0;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}

.settings-nav {
  background: #fff;
}

.uncontained.image {
  margin: 0;
  width: 100%;
  border-radius: 0;
  background: #eee;
}

.wrapper {
  height: 100%;
}
